# GUI
tk

# Firebase
firebase-admin==6.5.0

# Google Sheets API
gspread==6.1.4
oauth2client==4.1.3

# Face Recognition
opencv-python==4.10.0.84
face-recognition==1.3.0
dlib==19.24.2

# Utilities
numpy==1.26.4
pandas==2.2.3
requests==2.32.3

# Logging & Debugging
python-dotenv==1.0.1

bcrypt




# tk comes pre-installed with Python, but I’ve listed it for clarity.

# firebase-admin → to connect to Realtime Database of Admin & HOD software.

# gspread + oauth2client → for Google Sheets creation & updating.

# opencv + face-recognition + dlib → to handle webcam + student encodings.

# numpy & pandas → for handling encodings, attendance processing.